# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.venv

# IDE
.vscode/
.idea/

# Video files
*.mp4
*.h264
